<!-- views/home.ejs -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
    <link rel="stylesheet" href="/estiloblog.css">
</head>

<body>
    <h1 class="tituloblog1">Blog</h1>
    <a href="/criar" class="button">Criar novo post</a>
    <div class="posts">
        <% posts.forEach(post=> { %>
            <div class="post">
                <h2 class="titulopost">
                    <%= post.titulo %>
                </h2>
                <p class="resumopost">
                    <%= post.resumo %>
                </p>
                <p class="conteudopost">
                    <%= post.conteudo %>
                </p>
            </div>
            <% }); %>
    </div>

    <div id="cabecalho1">
        <p class="cabecalho"><a class="linkcabecalho" href="../home.html">Home</a> | <a class="linkcabecalho"
                href="../projects.html">Projetos</a></p>
    </div>
</body>

</html>