body{
    background-color: rgb(175, 175, 175);
}

#titulo{
    font-size: 30pt;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: auto;
}

.imagem{
    width: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1%;
}

div h2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 32px;
    text-align: center;
}

div p{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    margin-left: 30%;
    margin-right: 30%;
    margin-bottom: 1%;
}

a{
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center; 
    margin-left: 30%; 
    margin-right: 30%; 
    margin-bottom: 3%;
    opacity: 0.6;
    transition: 0.3s;
}

a:hover{
    opacity: 1;
}
