h1{
    color: red;
}

#p1{
    font-size: 20pt;
    color: green;
}

#p2{
    font-size: 20pt;
    color: blue;
}

.classe_exemplo{
    background-color: brown;
}

#id_exemplo{
    background-color: coral;
}

div p{
    font-size: 25pt;
}

a:visited{
    color: coral;
}

a:hover{
    background-color: darkblue;
}

div:hover{
    background-color: gray;
}

div p:hover{
    background-color: gray;
}